
.link{
    height: 20rem;
}
.posterDivFather{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0 0 0;
}
.posterDivFather p {
    text-align: start;
}

.itemMovie{
    position: relative;
    width: 15rem;
    padding: 0 0 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 242, 242);
    border-radius: 10px;
    border: 1px solid rgb(248, 247, 247);;
    cursor: pointer;
    transition: all 0.2s ease;
}

.itemMovie p{
    margin: 0;
    font-size: 0.9rem;
}
.itemMovie:hover{
    content: "";
    background: linear-gradient(
        45deg, rgb(248, 247, 247), rgba(160, 160, 228, 0.57), rgb(248, 247, 247), rgba(166, 166, 237, 0.57)
    );
    background-size: 800%;
    border: 1px solid rgba(160, 160, 228, 0.57);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    animation: glowing 20s linear infinite;
}
@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
.posterDiv{
    height: 10.5rem;
    display: flex;
}
.posterMovie{
    width: 120px;
    border-radius: 0.5rem;
}
li{
    list-style: none;
    font-weight: bolder;
    font-size: larger;
}
.price{
    margin: 2px;
    width: 100%;
    padding: 0.5rem;
    border-top: 1px solid rgb(177, 176, 176);
    text-align:end;
    
    font-size: 1.2rem;
}


