*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
main h2{
    text-align: center;
    font-weight: 800;
}
.logoDiv{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.logo{
    transition: 0.09s ease;
    justify-self: start;
}
.logo:active{
    transform: scale(0.9);
}
.header{
    background-color: whitesmoke;
}
.navItem{
    padding: 0.5rem;
    border-radius: 0.2rem;
    transition: all 0.3s ease;
    text-decoration: none;
    color: black;
}
.navItem:hover{
    background-color: rgba(137, 137, 225, 0.57);
    color: white;
}
.link{
    text-decoration: none;
    color: black;
}
.navbar-nav{
    display: flex;
}

@media (min-width: 768px) {
    .cartWidget{
        margin-right: 3rem;
    }
}
.portadaIndex{
    display: flex;
    padding: 2rem 0.3rem;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(./assets/yiyiBCKG.png);
    background-size: cover;
}
.cd{
    width: 170px;
}
.portadaIndex h1{
    width: 50%;
    font-weight: 900;
    margin: 0.5rem;
    font-size: 5vw;
    text-align: start;
    color: white;
}
.h2{
    margin-top: 3rem;
    font-weight: bolder;
}
.cartWidget{
    display: flex;
    padding: 6px;
    align-items: center;
    transition: 0.1s;
    cursor: pointer;
}
.cartWidget:hover{
    background-color: rgb(217, 216, 216);
    border-radius: 6px;
}
.cartWidget p{
    background-color: rgba(137, 137, 225, 0.57);
    border-radius: 6px;
    width: 20px;
    text-align: center;   
}
.dropdown{
    color: black;
}
.dropdown-menu.show{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.me-auto{
    gap: 3rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.toggler:active{
    transform: scale(0.8);
}
.navbar-toggler{
    border:none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
    
}
.cartWidget:active{
    transform: scale(0.8);
}
footer{
    width: 100%;
    text-align: center;
}
footer p{
    padding-top: 1rem;
}
/*** CART ***/

.mainCart{
    width: 100%;
}
.mainCart h1{
    margin: 1rem;
    text-align: center;
}
.container{
    width: 100%;
    position: relative;
}
.movieContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0.5rem auto;
    padding: 1rem 2rem;
    background-color: rgb(248, 247, 247);
    border-radius: 10px;
}
.aside{
    margin: 0.5rem 0 0.5rem 0;
    display: flex;
    justify-content: center;
}
.aside button{
    border: 1px solid rgb(137, 137, 225);
    border-radius: 8px;
    padding: 0.3rem;
    transition: 0.2s all ease;
}
.aside button:hover{
    opacity: 0.6;
    transform: scale(1.1);
}
.finCompra{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    text-align: center;
}
.finCompra p{
    margin: auto;
    font-size: larger;
    font-weight: bolder;
}
.button2 {
    margin: auto;
}
.finCompra .button{
    padding: 1rem;
    margin: 1rem auto;
    background-color: rgb(137, 137, 225);
    color: white;
    border: 1px solid rgb(137, 137, 225);
    border-radius: 1rem;
    transition: all 0.1s ease;
    width: 60%;
}
.finCompra .button:hover{
    background-color: white;
    color: rgb(137, 137, 225);
    border: 1px solid rgb(137, 137, 225);
}
.clear{
    position: fixed;
    z-index: 1;
    right: 3%;
    top: 90%;
    display: block;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 0, 0, 0.674);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: 0.4s all ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clear svg{
    margin: 0.5rem;
}
.textClear{
    height: 100%;
    display: block;
    transition: 0.5s all ease;
    align-self: center;
    margin: auto;
    padding: 0 0.3rem 0 0;
}
.hidden{
    display: none;
    transition: 0.4s all ease;
}
.botonesCart{
    display: flex;
}
/**** FIN CART ***/
.spinner {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

/** CHECKOUT **/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
        margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }
.checkout{
    padding: 1rem;
    text-align: center;
}
.checkout form{
    background-color: rgba(137, 137, 225, 0.104);
    padding: 1rem;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.divForm input{
    padding: 10px;
    border-radius: 6px;
    transition: all 0.2s ease;
}
.divForm{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
}
form p{
    font-size: 20px;
}

input:focus{
    content: "";
    padding: 10px;
    background: linear-gradient(
        45deg, rgb(248, 247, 247), rgba(160, 160, 228, 0.57), rgb(248, 247, 247), rgba(166, 166, 237, 0.57)
    );
    background-size: 800%;
    transform: translate(2px, 2px);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    animation: glowing 20s linear infinite;
}
@media (max-width: 650px) {
    .button {
        padding: 1rem;
        background-color: rgb(137, 137, 225);
        color: white;
        border: 1px solid rgb(137, 137, 225);
        border-radius: 1rem;
        transition: all 0.1s ease;
        width: 40%;
    }
}
@media (min-width: 651px) {
    
    .checkout form{
        width: 70%;
        margin: auto;
    }
    .divForm{
        width: 40%;
    }
    
    .button {
        padding: 1rem;
        background-color: rgb(137, 137, 225);
        color: white;
        border: 1px solid rgb(137, 137, 225);
        border-radius: 1rem;
        transition: all 0.1s ease;
        width: 40%;
    }
    
}

